<?xml version="1.0"?>
<sdf version="1.6" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="headless" default="true"/>

  <world name="default">
    <plugin
      filename="gz-sim-physics-system"
      name="gz::sim::systems::Physics">
    </plugin>
    <plugin
      filename="gz-sim-user-commands-system"
      name="gz::sim::systems::UserCommands">
    </plugin>
  <xacro:unless value="$(arg headless)">
    <plugin
      filename="gz-sim-scene-broadcaster-system"
      name="gz::sim::systems::SceneBroadcaster">
    </plugin>
  </xacro:unless>
    <plugin
      filename="gz-sim-sensors-system"
      name="gz::sim::systems::Sensors">
      <render_engine>ogre2</render_engine>
    </plugin>
    <plugin
      filename="gz-sim-imu-system"
      name="gz::sim::systems::Imu">
    </plugin>

    <light name='sun' type='directional'>
        <cast_shadows>0</cast_shadows>
        <pose>0 0 10 0 0 0</pose>
        <diffuse>0.8 0.8 0.8 1</diffuse>
        <specular>0.8 0.8 0.8 1</specular>
        <attenuation>
            <range>1000</range>
            <constant>0.9</constant>
            <linear>0.01</linear>
            <quadratic>0.001</quadratic>
        </attenuation>
        <direction>-0.5 0.1 -0.9</direction>
    </light>
    <model name='ground_plane'>
        <static>1</static>
        <link name='link'>
            <collision name='collision'>
                <geometry>
                    <plane>
                        <normal>0 0 1</normal>
                        <size>100 100</size>
                    </plane>
                </geometry>
                <max_contacts>10</max_contacts>
            </collision>
            <visual name='visual'>
                <geometry>
                    <plane>
                        <normal>0 0 1</normal>
                        <size>100 100</size>
                    </plane>
                </geometry>
                <material>
                    <ambient>0.8 0.8 0.8 1</ambient>
                    <diffuse>0.8 0.8 0.8 1</diffuse>
                    <specular>0.8 0.8 0.8 1</specular>
                </material>
            </visual>
        </link>
    </model>

<model name='cone'>
      <pose>-0.00097664824780375006 0.79008516574207344 0.50000248981130491 4.1083415036511164e-06 -2.8461513848854961e-06 0.0010271612609939482</pose>
      <link name='cone_link'>
        <inertial>
          <inertia>
            <ixx>0.074999999999999997</ixx>
            <ixy>0</ixy>
            <ixz>0</ixz>
            <iyy>0.074999999999999997</iyy>
            <iyz>0</iyz>
            <izz>0.074999999999999997</izz>
          </inertia>
          <mass>1</mass>
          <pose>0 0 0 0 0 0</pose>
        </inertial>
        <collision name='cone_collision'>
          <geometry>
            <cone>
              <radius>0.5</radius>
              <length>1</length>
            </cone>
          </geometry>
          <surface>
            <friction>
              <ode/>
            </friction>
            <bounce/>
            <contact/>
          </surface>
        </collision>
        <visual name='cone_visual'>
          <geometry>
            <cone>
              <radius>0.5</radius>
              <length>1</length>
            </cone>
          </geometry>
          <material>
            <ambient>0.300000012 0.300000012 0.300000012 1</ambient>
            <diffuse>0.699999988 0.699999988 0.699999988 1</diffuse>
            <specular>1 1 1 1</specular>
          </material>
        </visual>
        <pose>0 0 0 0 0 0</pose>
        <enable_wind>false</enable_wind>
      </link>
      <static>false</static>
      <self_collide>false</self_collide>
    </model>
    <model name='cone_1'>
      <pose>0.82838730614807277 0.52388501213234373 0.50000702722304291 -1.3911578842940622e-05 -2.0591864736227357e-06 6.1781134841738602e-05</pose>
      <link name='cone_link'>
        <inertial>
          <inertia>
            <ixx>0.074999999999999997</ixx>
            <ixy>0</ixy>
            <ixz>0</ixz>
            <iyy>0.074999999999999997</iyy>
            <iyz>0</iyz>
            <izz>0.074999999999999997</izz>
          </inertia>
          <mass>1</mass>
        </inertial>
        <collision name='cone_collision'>
          <geometry>
            <cone>
              <radius>0.5</radius>
              <length>1</length>
            </cone>
          </geometry>
          <surface>
            <friction>
              <ode/>
            </friction>
            <bounce/>
            <contact/>
          </surface>
        </collision>
        <visual name='cone_visual'>
          <geometry>
            <cone>
              <radius>0.5</radius>
              <length>1</length>
            </cone>
          </geometry>
          <material>
            <ambient>0.300000012 0.300000012 0.300000012 1</ambient>
            <diffuse>0.699999988 0.699999988 0.699999988 1</diffuse>
            <specular>1 1 1 1</specular>
          </material>
        </visual>
      </link>
      <static>false</static>
      <self_collide>false</self_collide>
    </model>
    <model name='cone_2'>
      <pose>1.2677091686556599 -0.18956623870766198 0.4999992457413277 1.5456086328835753e-06 -4.286423487472774e-07 -7.4953996280656564e-05</pose>
      <link name='cone_link'>
        <inertial>
          <inertia>
            <ixx>0.074999999999999997</ixx>
            <ixy>0</ixy>
            <ixz>0</ixz>
            <iyy>0.074999999999999997</iyy>
            <iyz>0</iyz>
            <izz>0.074999999999999997</izz>
          </inertia>
          <mass>1</mass>
        </inertial>
        <collision name='cone_collision'>
          <geometry>
            <cone>
              <radius>0.5</radius>
              <length>1</length>
            </cone>
          </geometry>
          <surface>
            <friction>
              <ode/>
            </friction>
            <bounce/>
            <contact/>
          </surface>
        </collision>
        <visual name='cone_visual'>
          <geometry>
            <cone>
              <radius>0.5</radius>
              <length>1</length>
            </cone>
          </geometry>
          <material>
            <ambient>0.300000012 0.300000012 0.300000012 1</ambient>
            <diffuse>0.699999988 0.699999988 0.699999988 1</diffuse>
            <specular>1 1 1 1</specular>
          </material>
        </visual>
      </link>
      <static>false</static>
      <self_collide>false</self_collide>
    </model>
    <model name='cone_3'>
      <pose>1.6063619843529249 -0.882407423786714 0.50001182302556013 1.341849878629495e-05 -1.9562783377724916e-05 2.9388147229467452e-05</pose>
      <link name='cone_link'>
        <inertial>
          <inertia>
            <ixx>0.074999999999999997</ixx>
            <ixy>0</ixy>
            <ixz>0</ixz>
            <iyy>0.074999999999999997</iyy>
            <iyz>0</iyz>
            <izz>0.074999999999999997</izz>
          </inertia>
          <mass>1</mass>
        </inertial>
        <collision name='cone_collision'>
          <geometry>
            <cone>
              <radius>0.5</radius>
              <length>1</length>
            </cone>
          </geometry>
          <surface>
            <friction>
              <ode/>
            </friction>
            <bounce/>
            <contact/>
          </surface>
        </collision>
        <visual name='cone_visual'>
          <geometry>
            <cone>
              <radius>0.5</radius>
              <length>1</length>
            </cone>
          </geometry>
          <material>
            <ambient>0.300000012 0.300000012 0.300000012 1</ambient>
            <diffuse>0.699999988 0.699999988 0.699999988 1</diffuse>
            <specular>1 1 1 1</specular>
          </material>
        </visual>
      </link>
      <static>false</static>
      <self_collide>false</self_collide>
    </model>
    <model name='cone_4'>
      <pose>2.2821774334637803 -1.1110325276101813 0.50001630665337693 3.0930164677973254e-05 -1.5673292904171614e-05 0.00051723222491460729</pose>
      <link name='cone_link'>
        <inertial>
          <inertia>
            <ixx>0.074999999999999997</ixx>
            <ixy>0</ixy>
            <ixz>0</ixz>
            <iyy>0.074999999999999997</iyy>
            <iyz>0</iyz>
            <izz>0.074999999999999997</izz>
          </inertia>
          <mass>1</mass>
        </inertial>
        <collision name='cone_collision'>
          <geometry>
            <cone>
              <radius>0.5</radius>
              <length>1</length>
            </cone>
          </geometry>
          <surface>
            <friction>
              <ode/>
            </friction>
            <bounce/>
            <contact/>
          </surface>
        </collision>
        <visual name='cone_visual'>
          <geometry>
            <cone>
              <radius>0.5</radius>
              <length>1</length>
            </cone>
          </geometry>
          <material>
            <ambient>0.300000012 0.300000012 0.300000012 1</ambient>
            <diffuse>0.699999988 0.699999988 0.699999988 1</diffuse>
            <specular>1 1 1 1</specular>
          </material>
        </visual>
      </link>
      <static>false</static>
      <self_collide>false</self_collide>
    </model>
    <model name='cone_5'>
      <pose>2.9233131097832539 -0.55313932415491796 0.50000053818449064 2.3606199539641087e-06 -1.7190900284467983e-06 0.00076640520021015309</pose>
      <link name='cone_link'>
        <inertial>
          <inertia>
            <ixx>0.074999999999999997</ixx>
            <ixy>0</ixy>
            <ixz>0</ixz>
            <iyy>0.074999999999999997</iyy>
            <iyz>0</iyz>
            <izz>0.074999999999999997</izz>
          </inertia>
          <mass>1</mass>
        </inertial>
        <collision name='cone_collision'>
          <geometry>
            <cone>
              <radius>0.5</radius>
              <length>1</length>
            </cone>
          </geometry>
          <surface>
            <friction>
              <ode/>
            </friction>
            <bounce/>
            <contact/>
          </surface>
        </collision>
        <visual name='cone_visual'>
          <geometry>
            <cone>
              <radius>0.5</radius>
              <length>1</length>
            </cone>
          </geometry>
          <material>
            <ambient>0.300000012 0.300000012 0.300000012 1</ambient>
            <diffuse>0.699999988 0.699999988 0.699999988 1</diffuse>
            <specular>1 1 1 1</specular>
          </material>
        </visual>
      </link>
      <static>false</static>
      <self_collide>false</self_collide>
    </model>
    <model name='cone_6'>
      <pose>3.2787815152237068 0.22525633467457187 0.4999987725835478 6.4496203112309017e-07 -3.1748949306003053e-07 0.0008653498020434094</pose>
      <link name='cone_link'>
        <inertial>
          <inertia>
            <ixx>0.074999999999999997</ixx>
            <ixy>0</ixy>
            <ixz>0</ixz>
            <iyy>0.074999999999999997</iyy>
            <iyz>0</iyz>
            <izz>0.074999999999999997</izz>
          </inertia>
          <mass>1</mass>
        </inertial>
        <collision name='cone_collision'>
          <geometry>
            <cone>
              <radius>0.5</radius>
              <length>1</length>
            </cone>
          </geometry>
          <surface>
            <friction>
              <ode/>
            </friction>
            <bounce/>
            <contact/>
          </surface>
        </collision>
        <visual name='cone_visual'>
          <geometry>
            <cone>
              <radius>0.5</radius>
              <length>1</length>
            </cone>
          </geometry>
          <material>
            <ambient>0.300000012 0.300000012 0.300000012 1</ambient>
            <diffuse>0.699999988 0.699999988 0.699999988 1</diffuse>
            <specular>1 1 1 1</specular>
          </material>
        </visual>
      </link>
      <static>false</static>
      <self_collide>false</self_collide>
    </model>
    <model name='cone_7'>
      <pose>3.5837374706551923 1.0090864687237004 0.49999874880823941 6.811905915113971e-07 -1.1530162116214023e-06 0.00090835169226849834</pose>
      <link name='cone_link'>
        <inertial>
          <inertia>
            <ixx>0.074999999999999997</ixx>
            <ixy>0</ixy>
            <ixz>0</ixz>
            <iyy>0.074999999999999997</iyy>
            <iyz>0</iyz>
            <izz>0.074999999999999997</izz>
          </inertia>
          <mass>1</mass>
        </inertial>
        <collision name='cone_collision'>
          <geometry>
            <cone>
              <radius>0.5</radius>
              <length>1</length>
            </cone>
          </geometry>
          <surface>
            <friction>
              <ode/>
            </friction>
            <bounce/>
            <contact/>
          </surface>
        </collision>
        <visual name='cone_visual'>
          <geometry>
            <cone>
              <radius>0.5</radius>
              <length>1</length>
            </cone>
          </geometry>
          <material>
            <ambient>0.300000012 0.300000012 0.300000012 1</ambient>
            <diffuse>0.699999988 0.699999988 0.699999988 1</diffuse>
            <specular>1 1 1 1</specular>
          </material>
        </visual>
      </link>
      <static>false</static>
      <self_collide>false</self_collide>
    </model>
    <model name='cone_8'>
      <pose>-0.13909060598651535 -0.88516461195921958 0.50000373570445988 -6.5193860651113725e-06 -4.5395877197563493e-06 0.00086088107363962215</pose>
      <link name='cone_link'>
        <inertial>
          <inertia>
            <ixx>0.074999999999999997</ixx>
            <ixy>0</ixy>
            <ixz>0</ixz>
            <iyy>0.074999999999999997</iyy>
            <iyz>0</iyz>
            <izz>0.074999999999999997</izz>
          </inertia>
          <mass>1</mass>
        </inertial>
        <collision name='cone_collision'>
          <geometry>
            <cone>
              <radius>0.5</radius>
              <length>1</length>
            </cone>
          </geometry>
          <surface>
            <friction>
              <ode/>
            </friction>
            <bounce/>
            <contact/>
          </surface>
        </collision>
        <visual name='cone_visual'>
          <geometry>
            <cone>
              <radius>0.5</radius>
              <length>1</length>
            </cone>
          </geometry>
          <material>
            <ambient>0.300000012 0.300000012 0.300000012 1</ambient>
            <diffuse>0.699999988 0.699999988 0.699999988 1</diffuse>
            <specular>1 1 1 1</specular>
          </material>
        </visual>
      </link>
      <static>false</static>
      <self_collide>false</self_collide>
    </model>
    <model name='cone_9'>
      <pose>0.21554598238613598 -1.4573399052051226 0.50000466404076283 9.5729319528400756e-06 -1.8390433307776778e-06 0.00083362830466297974</pose>
      <link name='cone_link'>
        <inertial>
          <inertia>
            <ixx>0.074999999999999997</ixx>
            <ixy>0</ixy>
            <ixz>0</ixz>
            <iyy>0.074999999999999997</iyy>
            <iyz>0</iyz>
            <izz>0.074999999999999997</izz>
          </inertia>
          <mass>1</mass>
        </inertial>
        <collision name='cone_collision'>
          <geometry>
            <cone>
              <radius>0.5</radius>
              <length>1</length>
            </cone>
          </geometry>
          <surface>
            <friction>
              <ode/>
            </friction>
            <bounce/>
            <contact/>
          </surface>
        </collision>
        <visual name='cone_visual'>
          <geometry>
            <cone>
              <radius>0.5</radius>
              <length>1</length>
            </cone>
          </geometry>
          <material>
            <ambient>0.300000012 0.300000012 0.300000012 1</ambient>
            <diffuse>0.699999988 0.699999988 0.699999988 1</diffuse>
            <specular>1 1 1 1</specular>
          </material>
        </visual>
      </link>
      <static>false</static>
      <self_collide>false</self_collide>
    </model>
    <model name='cone_10'>
      <pose>0.71093596698399453 -2.0830195892073431 0.50000047453998275 1.1519933352234814e-06 3.7849854750726922e-07 0.00084834085364962478</pose>
      <link name='cone_link'>
        <inertial>
          <inertia>
            <ixx>0.074999999999999997</ixx>
            <ixy>0</ixy>
            <ixz>0</ixz>
            <iyy>0.074999999999999997</iyy>
            <iyz>0</iyz>
            <izz>0.074999999999999997</izz>
          </inertia>
          <mass>1</mass>
        </inertial>
        <collision name='cone_collision'>
          <geometry>
            <cone>
              <radius>0.5</radius>
              <length>1</length>
            </cone>
          </geometry>
          <surface>
            <friction>
              <ode/>
            </friction>
            <bounce/>
            <contact/>
          </surface>
        </collision>
        <visual name='cone_visual'>
          <geometry>
            <cone>
              <radius>0.5</radius>
              <length>1</length>
            </cone>
          </geometry>
          <material>
            <ambient>0.300000012 0.300000012 0.300000012 1</ambient>
            <diffuse>0.699999988 0.699999988 0.699999988 1</diffuse>
            <specular>1 1 1 1</specular>
          </material>
        </visual>
      </link>
      <static>false</static>
      <self_collide>false</self_collide>
    </model>
    <model name='cone_11'>
      <pose>1.225328178492836 -2.6855905271701053 0.50001634481676427 3.8202213996930288e-05 1.8416932151590033e-06 0.0010294373206940085</pose>
      <link name='cone_link'>
        <inertial>
          <inertia>
            <ixx>0.074999999999999997</ixx>
            <ixy>0</ixy>
            <ixz>0</ixz>
            <iyy>0.074999999999999997</iyy>
            <iyz>0</iyz>
            <izz>0.074999999999999997</izz>
          </inertia>
          <mass>1</mass>
        </inertial>
        <collision name='cone_collision'>
          <geometry>
            <cone>
              <radius>0.5</radius>
              <length>1</length>
            </cone>
          </geometry>
          <surface>
            <friction>
              <ode/>
            </friction>
            <bounce/>
            <contact/>
          </surface>
        </collision>
        <visual name='cone_visual'>
          <geometry>
            <cone>
              <radius>0.5</radius>
              <length>1</length>
            </cone>
          </geometry>
          <material>
            <ambient>0.300000012 0.300000012 0.300000012 1</ambient>
            <diffuse>0.699999988 0.699999988 0.699999988 1</diffuse>
            <specular>1 1 1 1</specular>
          </material>
        </visual>
      </link>
      <static>false</static>
      <self_collide>false</self_collide>
    </model>
    <model name='cone_12'>
      <pose>1.9155714558293271 -2.732627455501504 0.5000018174570513 3.090198065454208e-06 -5.5467453530115945e-06 0.0010019763505921269</pose>
      <link name='cone_link'>
        <inertial>
          <inertia>
            <ixx>0.074999999999999997</ixx>
            <ixy>0</ixy>
            <ixz>0</ixz>
            <iyy>0.074999999999999997</iyy>
            <iyz>0</iyz>
            <izz>0.074999999999999997</izz>
          </inertia>
          <mass>1</mass>
        </inertial>
        <collision name='cone_collision'>
          <geometry>
            <cone>
              <radius>0.5</radius>
              <length>1</length>
            </cone>
          </geometry>
          <surface>
            <friction>
              <ode/>
            </friction>
            <bounce/>
            <contact/>
          </surface>
        </collision>
        <visual name='cone_visual'>
          <geometry>
            <cone>
              <radius>0.5</radius>
              <length>1</length>
            </cone>
          </geometry>
          <material>
            <ambient>0.300000012 0.300000012 0.300000012 1</ambient>
            <diffuse>0.699999988 0.699999988 0.699999988 1</diffuse>
            <specular>1 1 1 1</specular>
          </material>
        </visual>
      </link>
      <static>false</static>
      <self_collide>false</self_collide>
    </model>

    <scene>
      <shadows>0</shadows>
    </scene>

    <physics name='3ms' type='ode'>
        <max_step_size>0.003</max_step_size>
        <real_time_factor>1</real_time_factor>
    </physics>


  </world>
</sdf>
