build/edubot_nav2/edubot_nav2.egg-info/PKG-INFO
build/edubot_nav2/prefix_override/__pycache__/sitecustomize.cpython-312.pyc
install/edubot_nav2/lib/python3.12/site-packages/edubot_nav2-0.0.0-py3.12.egg-info/PKG-INFO
install/edubot_nav2/share/edubot_nav2/__pycache__/nav2_test.launch.cpython-312.pyc
log/latest_build
log/build_2025-02-24_20-30-41/events.log
log/build_2025-02-24_20-30-41/logger_all.log
log/build_2025-02-24_20-30-41/edubot_nav2/command.log
log/build_2025-02-24_20-30-41/edubot_nav2/stderr.log
log/build_2025-02-24_20-30-41/edubot_nav2/stdout_stderr.log
log/build_2025-02-24_20-30-41/edubot_nav2/stdout.log
log/build_2025-02-24_20-30-41/edubot_nav2/streams.log
log/build_2025-02-24_20-31-19/events.log
log/build_2025-02-24_20-31-19/logger_all.log
log/build_2025-02-24_20-31-19/edubot_nav2/command.log
log/build_2025-02-24_20-31-19/edubot_nav2/stderr.log
log/build_2025-02-24_20-31-19/edubot_nav2/stdout_stderr.log
log/build_2025-02-24_20-31-19/edubot_nav2/stdout.log
log/build_2025-02-24_20-31-19/edubot_nav2/streams.log
src/edubot_nav2/world/small_maze.sdf.xacro
log/build_2025-02-24_20-31-19/edubot_nav2/streams.log
install/edubot_nav2/lib/python3.12/site-packages/edubot_nav2-0.0.0-py3.12.egg-info/PKG-INFO
